

#-------------------------------------------------------
# Suggestions for useful aliases
#-------------------------------------------------------

alias rm='trash'
#alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ls='ls -FG'
alias ll='ls -hlG'
alias cdd='cd ..'
alias cddd='cd ../..'
alias cdddd='cd ../../..'
alias emacs='emacs --no-splash '
alias nem='emacs -nw --no-splash '
alias rsrc='. ~/.zshrc'
alias code='code .'
alias vs='code .'
alias b='./build.sh -j8'
alias launch='./launch.sh'
alias tg='tree -f | grep '
alias hg='history | grep '
alias vr='~/setup/vim_reminders.sh'


#-------------------------------------------------------
# Functions
#-------------------------------------------------------

# make dir and enter it
function mcd() {
	mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

function rb() { # short for rebuild
    local current_dir=$(pwd)
    local max_depth=3
    local depth=0
    while [[ $depth -lt $max_depth ]]
    do
        if [[ -f "./build.sh" ]]; then
            ./build.sh -j8
            cd "$current_dir"
            return 0
        fi
        cd ..
        ((depth++))
    done
    cd "$current_dir"
    echo "build.sh not found within $max_depth levels"
}
