

#-------------------------------------------------------
# Suggestions for useful aliases
#-------------------------------------------------------
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ls='ls -FG'
alias ll='ls -hlG'
alias cdd='cd ..'
alias cddd='cd ../..'
alias cdddd='cd ../../..'
alias emacs='emacs --no-splash '
alias nem='emacs -nw --no-splash '

alias code='code .'

alias tf='tree -f | grep '



#-------------------------------------------------------
# Functions
#-------------------------------------------------------

# make dir and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

